.logo {
    height: 75px;
    width: 75px;
    background: linear-gradient(135deg, rgb(190, 59, 246), #934ea1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


